body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}


.navbar {
    height: 5rem;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
    margin-right: 0.5rem;
}
.nav-link{
    color: #222222 !important;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 1rem;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222 !important;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links , .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;

}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;

}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    object-fit: cover !important;
    border-radius: 1rem !important;
    width: 100%;
    height: 20rem;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}

/* card effect */
.card:hover{
    cursor: pointer;
}

/* new page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */
.show-image{
 height: 30vh;

}
.btns{
    display: flex;
    
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.main-cards{
    opacity: 1;
}
.main-cards:hover{
    opacity: 0.8;
   
}

/* public/css/style.css */
.edit-preview-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Map */

#map {
    height: 400px;
    width: 80vh;
}

/* navbar style */

